:root {
    --zoeprimary-color: #00b01a;
    --zoeprimarydark-color: #026410;
    --black-color: #221f1f;
    --dark-color: #161616;
    --secondary-color: #cecfd1;
    --white-color: #ffffff;
}


/*================================================
General
================================================*/


.navbar-nav  li a.active{
    background: var(--zoeprimary-color);
    color: var(--white-color);
}


.ara-modal-title{
    background: var(--zoeprimary-color);
}



.aracode-box-with {
    background-color: #fff;
    padding: 5px;
}

.aracode-box-with .post-title {
    padding: 0px 10px;
} 

.aracode-flags {
    padding: 20px; 
    text-align:center;
}


.aracode-flags .ara-contenedor-redondo {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc; /* Puedes agregar un borde si lo deseas */
 
}
