:root {
    --zoeprimary-color: #5A9F00;
    --zoeprimarydark-color: #026410;
    --black-color: #221f1f;
    --dark-color: #161616;
    --secondary-color: #cecfd1;
    --white-color: #ffffff;
}


/*================================================
General
================================================*/


.navbar-nav  li a.active{
    background: var(--zoeprimary-color);
    color: var(--white-color);
}


.navbar-nav  li a.hover{
    background: var(--zoeprimarydark-color);
    color: var(--white-color);
}


.ara-modal-title{
    background: var(--zoeprimary-color);
}



.aracode-box-with {
    background-color: #fff;
    padding: 5px;
}

.aracode-box-with .post-title {
    padding: 0px 10px;
} 

.aracode-flags {
    padding: 20px; 
    text-align:center;
}


.aracode-flags .ara-contenedor-redondo {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc; /* Puedes agregar un borde si lo deseas */
 
}




/**********************/
/****** Facebook ******/
/**********************/

.appFacebook{
	position: fixed;
	right: 26px;
	bottom: 315px;
	width: 50px;
	z-index: 1000;
  }
  
  .appFacebook img{
	width: 100%;
	height: auto;
  }

/***********************/
/****** Instagram ******/
/**********************/

.appInstagram{
	position: fixed;
	right: 26px;
	bottom: 250px;
	width: 50px;
	z-index: 1000;
  }
  
  .appInstagram img{
	width: 100%;
	height: auto;
  }

/**********************/
/****** Youtube ******/
/**********************/

.appYoutube{
	position: fixed;
	right: 26px;
	bottom: 185px;
	width: 50px;
	z-index: 1000;
  }
  
  .appYoutube img{
	width: 100%;
	height: auto;
  }

/**********************/
/****** Whatsapp ******/
/**********************/

.appWhatsapp{
	position: fixed;
	right: 26px;
	bottom: 120px;
	width: 53px;
	z-index: 1000;
  }
  
  .appWhatsapp img{
	width: 100%;
	height: auto;
  }
  
  /**********************/
  /**********************/
  /**********************/
