:root {
    --zoeprimary-color: #5A9F00;
    --zoeprimarydark-color: #026410;
    --black-color: #221f1f;
    --dark-color: #161616;
    --secondary-color: #cecfd1;
    --white-color: #ffffff;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  width: 400px;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
  border-color: #026410;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: #fff;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #026410;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: #026410;
  font-weight: 600;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #026410;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #026410;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: #026410;
}

/*================================================
General
================================================*/


.navbar-nav  li a.active{
    background: var(--zoeprimary-color);
    color: var(--white-color);
}


.navbar-nav  li a.hover{
    background: var(--zoeprimarydark-color);
    color: var(--white-color);
}


.ara-modal-title{
    background: var(--zoeprimary-color);
}



.aracode-box-with {
    background-color: #fff;
    padding: 5px;
}

.aracode-box-with .post-title {
    padding: 0px 10px;
} 

.aracode-flags {
    padding: 20px; 
    text-align:center;
}


.aracode-flags .ara-contenedor-redondo {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc; /* Puedes agregar un borde si lo deseas */
 
}



/*aracode*/
.ara_centrado_total {
	display: flex;
	justify-content: center; /* Centrar horizontalmente */
	align-items: center; /* Centrar verticalmente */
}

.box-producto {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box-producto:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.box-producto a{
  text-decoration: none;
}

.box-producto a:hover{
  text-decoration: none;
}

.title-bg-green{
  background: #5A9F00;
  width: 100%;
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
}

.title-bg-plomo{
  background: #dfd5b4;
  width: 100%;
  font-size: 18px;
  color: #000;
  text-align: center;
  padding: 10px 15px;
}


.box-producto-body p{
  text-decoration: none;
  padding: 0px 10px;
  color: #000;
}

.box-producto-body p:hover{
  color: #000;
}

.box-producto-body p a:hover{
  text-decoration: none;
  color: #5A9F00;
}

.box-producto-footer{
  display: flex; 
  justify-content: center;
}


.box-beneficios-emprendimiento {
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box-beneficios-emprendimiento:hover {
  border: 3px solid #00b01a;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}


.box-elevado-green {
  border-radius: 20px;
  border: 3px solid #00b01a;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.box-elevado-plomo {
  border-radius: 20px;
  border: 3px solid #dfd5b4;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.box-sombreado {
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box-sombreado:hover {
  border: 3px solid #00b01a;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}


.box-ganar {
  background: #fff;
  padding: 20px;
  border-radius: 25px;
}

/**********************/
/****** Facebook ******/
/**********************/

.appFacebook{
	position: fixed;
	right: 5px;
	bottom: 328px;
	width: 50px;
	z-index: 1000;
  }
  
  .appFacebook img{
	width: 100%;
	height: auto;
  }

/***********************/
/****** Instagram ******/
/**********************/

.appInstagram{
	position: fixed;
	right: 5px;
	bottom: 277px;
	width: 50px;
	z-index: 1000;
  }
  
  .appInstagram img{
	width: 100%;
	height: auto;
  }

/**********************/
/****** Youtube ******/
/**********************/

.appYoutube{
	position: fixed;
	right: 5px;
	bottom: 225px;
	width: 50px;
	z-index: 1000;
  }
  
  .appYoutube img{
	width: 100%;
	height: auto;
  }
  
/**********************/
/****** Tik Tok ******/
/**********************/

.appTiktok{
	position: fixed;
	right: 5px;
	bottom: 175px;
	width: 50px;
	z-index: 1000;
  }
  
  .appTiktok img{
	width: 100%;
	height: auto;
  }

/**********************/
/****** Whatsapp ******/
/**********************/

.appWhatsapp{
	position: fixed;
	right: 5px;
	bottom: 120px;
	width: 53px;
	z-index: 1000;
  }
  
  .appWhatsapp img{
	width: 100%;
	height: auto;
  }
  
  /**********************/
  /**********************/
  /**********************/

  

  .carousel {
    display: block;
    font-size: 0;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    background: white;
    transform: translateZ(0);
    height: 200px;
    -webkit-overflow-scrolling: touch;
    /* for tablets */
  }
  .touch .carousel {
    overflow: auto;
  }
  .carousel[data-at*=left] > .wrap::before {
    opacity: 1;
    text-indent: -50px;
  }
  .carousel[data-at*=right] > .wrap::after {
    opacity: 1;
    text-indent: -50px;
  }
  .carousel::after {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 4;
    bottom: -4px;
    left: 0;
    background: #D82B6A;
    height: 4px;
    border-radius: 4px;
    opacity: 0;
    width: var(--scrollWidth, 0);
    left: var(--scrollLleft, 0);
    transition: opacity 0.2s, bottom 0.2s;
  }
  .carousel:hover::after {
    opacity: 1;
    bottom: -10px;
  }
  .carousel > .wrap {
    overflow: hidden;
    border-radius: 4px;
  }
  .carousel > .wrap::before, .carousel > .wrap::after {
    content: "‹";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 50px;
    font-size: 80px;
    text-indent: -30px;
    line-height: 200px;
    font-family: monospace;
    color: #555;
    font-weight: bold;
    border-radius: 8px;
    pointer-events: none;
    transition: 0.2s ease-out;
    background: linear-gradient(to right, white 20%, transparent);
  }
  .carousel > .wrap::after {
    transform: rotate(180deg);
    left: auto;
    right: 0;
  }
  .carousel > .wrap > ul {
    list-style: none;
    white-space: nowrap;
    height: 200px;
  }
  .carousel > .wrap > ul > li {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0 0 0 5px;
    position: relative;
    overflow: hidden;
    transition: 0.25s ease-out;
  }
  .carousel > .wrap > ul > li:first-child {
    margin: 0;
  }
  .carousel > .wrap > ul > li > img {
    display: block;
    height: 100%;
    margin: auto;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
    transition: 1s ease;
  }
  
  body {
    background: #EEE;
  }
  
  .carousel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    max-width: 900px;
    min-width: 550px;
    margin: auto;
  }

  
.btn-zona-descarga {
  width: 90%; 
  color: #fff;
  font-size: 14px; 
  padding: 10px 20px; 
  border-radius: 30px;
}
  
.btn-zona-eventos {
  width: 90%; 
  color: #fff;
  font-size: 18px; 
  padding: 10px 20px; 
  border-radius: 30px;
}

  
.btn-green {
  width: auto; 
  background: #5A9F00;
  color: #fff;
  font-weight: 700;
  font-size: 18px; 
  padding: 10px 30px; 
  border-radius: 30px;
  text-align: center;
}

.btn-green:hover {
  background: #026410;
  color: #fff;
  text-decoration: none;
}

.btn-zona-descarga:hover {
  text-decoration: none;
}

.btn-zona-eventos:hover {
  text-decoration: none;
}

.title-green {
  color: #5A9F00;
}


.title-plomo {
  color: #dfd5b4 !important;
  font-weight: 700;
}

.btn-plomo { 
  width: auto; 
  background-color: #dfd5b4 !important;
  color: #3f3d3d;
  font-weight: 700;
  font-size: 18px; 
  padding: 10px 30px; 
  border-radius: 30px;
  text-align: center;
}